@use "./import/variable" as *;
@use "./import/mixin" as *;

// Base Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  min-inline-size: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

// Body
body {
  font-family: Futura, "Noto Sans JP", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: #e8e8e8;
  color: #333;
  min-height: 100vh;
  margin: 0;
}

main {
  padding: 2rem 1.2rem;
}

.section-title {
  font-size: min_vw_pc(36);
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.visible-sp {
  display: none;
  @include mq(max, sm) {
    display: block;
  }
}
.visible-pc {
  display: block;
  @include mq(max, sm) {
    display: none;
  }
}

@include mq(max, sm) {
  main {
    padding: 1rem 0.6rem;
  }
  .section-title {
    font-size: vw_sp(24);
    margin-bottom: 0.5rem;
  }
}

@include mq(min-max, sm, md) {
  main {
    padding: 1.2rem 1rem;
  }
}
