@use './import/functions' as *;
@use './import/mixin' as *;

@layer reset, utils;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    min-inline-size: 0;
    padding: 0;
    margin: 0;
  }

  :where(:root) {
    --color-black-01: #333;
    --font-size: 1.5rem;
    --font-weight: 400;
    --line-height: 1.6;
    --letter-spacing: 0.05em;
    --inline-spacing: 1.5rem;
    --window-size-lg: 1440;
    --window-size-md: 768;
    --window-size-sm: 375;

    font-size: 62.5%; //1rem=10px
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--color-black-01);
    text-align: start;
  }
}

// Base Reset

a {
  text-decoration: none;
}

// Body
body {
  font-family:
    Futura, 'Noto Sans JP', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  background-color: #e8e8e8;
  color: #333;
  min-height: 100vh;
  margin: 0;
}

main {
  padding-block: 2rem;
  padding-inline: var(--inline-spacing);
}

.section-title {
  font-size: min_vw_pc(36);
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

@include mq(max, sm) {
  main {
    padding: 1rem 0.6rem;
  }
  .section-title {
    font-size: vw_sp(24);
    margin-bottom: 0.5rem;
  }
}

@include mq(min-max, sm, md) {
  main {
    padding: 1.2rem 1rem;
  }
}
