@use "./import/variable" as *;
@use "./import/mixin" as *;

// Base Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// Body
body {
  font-family: Futura, "Noto Sans JP", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: #e8e8e8;
  color: #333;
  min-height: 100vh;
  margin: 0;
}

// Header
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #555;
  border-bottom: min_vw_pc(2) solid #333;
  z-index: 1000;
  box-shadow: 0 min_vw_pc(2) min_vw_pc(4) rgba(0, 0, 0, 0.1);
}

.announcement {
  background-color: #666;
  text-align: center;
  color: white;
  border-bottom: 1px solid #444;
  overflow: hidden;
  min-height: 3rem;
}

.announcement-list {
  display: flex;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
  height: 100%;
}

.announcement-item {
  padding: 0 min_vw_pc(30);
  display: inline-block;

  strong {
    color: #ffff00;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.header-inner {
  max-width: min_vw_pc(1440);
  margin: 0 auto;
  padding: min_vw_pc(12) min_vw_pc(20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: nowrap;
  gap: min_vw_pc(20);
}

.company-info {
  display: flex;
  align-items: center;
  gap: min_vw_pc(30);
}

.company-contact {
  display: flex;
  align-items: center;
  gap: min_vw_pc(15);
}

.company-name {
  display: flex;
  flex-direction: column;
  font-size: min_vw_pc(36);
  font-weight: bold;
  color: white;
  white-space: nowrap;
  line-height: 1.3;
  span {
    font-size: min_vw_pc(18);
  }
}

.hours {
  display: flex;
  flex-direction: column;
  gap: min_vw_pc(8);
}

.contact {
  font-size: min_vw_pc(20);
  display: flex;
  align-items: center;
  gap: min_vw_pc(5);
  white-space: nowrap;
  color: white;

  strong {
    font-size: min_vw_pc(20);
    color: #ffff00;
  }
}

.special-hours {
  font-size: min_vw_pc(20);
  color: #ffff00;
  margin-top: 0;
  font-weight: bold;
}

//TODO: globalなクラス名
.visible-sp {
  display: none;
}

.phone {
  display: flex;
  align-items: center;
  gap: min_vw_pc(8);
  background-color: #f0f0f0;
  color: #555;
  padding: min_vw_pc(8) min_vw_pc(16);
  border-radius: min_vw_pc(6);
  font-weight: bold;
  font-size: min_vw_pc(36);
  border: min_vw_pc(2) solid #999;
  white-space: nowrap;
  flex-shrink: 0;

  a {
    color: #555;
    text-decoration: none;
    font-weight: bold;

    @include hover {
      text-decoration: underline;
    }
  }
}

.header-links {
  display: flex;
  gap: min_vw_pc(15);
  justify-content: stretch;
  width: min_vw_pc(400);

  a {
    width: 100%;
    font-size: min_vw_pc(16);
    padding: min_vw_pc(8) min_vw_pc(8);
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
  }
}

.company-link {
  color: white;
  border: 0.1rem solid white;

  @include hover {
    background-color: white;
    color: #555;
  }
}

.line-link {
  background-color: #00b900;
  color: white;

  @include hover {
    background-color: #009900;
  }
}

// Main Content
main {
  padding: 2rem 1.2rem;
}

.section-title {
  font-size: min_vw_pc(36);
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.metals-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min_vw_pc(400), 1fr));
  gap: 1rem;
}

.metal-item {
  background: white;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: min_vw_pc(450);
  overflow: hidden;
}

.metal-img {
  width: 100%;
  // height: min_vw_pc(220);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1360 / 550;
  }
}

.metal-details {
  padding: min_vw_pc(20);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.metal-name {
  font-size: min_vw_pc(32);
  font-weight: bold;
  color: #555;
  line-height: 1;
}

.metal-price {
  font-size: min_vw_pc(40);
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: min_vw_pc(6);
  line-height: 1.3;

  span {
    font-size: min_vw_pc(20);
    color: #555;
  }
}

.visible-sp {
  display: none;
  @include mq(max, sm) {
    display: block;
  }
}
.visible-pc {
  display: block;
  @include mq(max, sm) {
    display: none;
  }
}

.metal-description {
  font-size: min_vw_pc(18);
  color: #666;
  line-height: 1.6;
  flex: 1;
}

// Footer
footer {
  background-color: #555;
  color: white;
  padding: min_vw_pc(40) min_vw_pc(20);
}

.footer-inner {
  max-width: min_vw_pc(1440);
  margin: 0 auto;
}

.footer-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min_vw_pc(250), 1fr));
  gap: min_vw_pc(40);
  margin-bottom: min_vw_pc(30);
}

.footer-item {
  p {
    font-size: min_vw_pc(16);
    line-height: 1.2;
    color: #ddd;

    strong {
      font-size: min_vw_pc(24);
      line-height: 1;
      span {
        font-size: min_vw_pc(16);
      }
    }
  }
  &:nth-child(3) {
    p {
      span {
        font-size: min_vw_pc(16);
      }
    }
  }
}

.footer-label {
  margin-bottom: min_vw_pc(15);
  font-size: min_vw_pc(20);
  color: #ccc;
}

.footer-copyRight {
  border-top: 1px solid #666;
  padding-top: min_vw_pc(20);
  text-align: center;
  color: #999;
  font-size: min_vw_pc(13);
}

@include mq(max, sm) {
  .announcement {
    display: none;
  }
  .company-name {
    font-size: vw_sp(26);
    span {
      font-size: vw_sp(13);
    }
  }
  .contact {
    font-size: vw_sp(18);
    gap: vw_sp(3);
    strong {
      font-size: vw_sp(18);
    }
  }
  .special-hours {
    font-size: vw_sp(14);
  }
  //TODO: global
  .visible-sp {
    display: block;
  }
  .phone {
    font-size: vw_sp(16);
    padding: vw_sp(4) vw_sp(8);
    gap: vw_sp(4);
  }
  .header-inner {
    flex-direction: column;
    gap: vw_sp(8);
    padding: 0.5rem;
    align-items: stretch;
    justify-content: center;
  }
  .company-info {
    flex-direction: row;
    gap: vw_sp(20);
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .company-contact {
    flex-direction: column;
    gap: vw_sp(3);
    align-items: flex-start;
  }
  .hours {
    gap: vw_sp(4);
  }
  .header-links {
    width: 100%;
    gap: vw_sp(8);
    justify-content: center;
    a {
      flex: 1;
      text-align: center;
      padding: vw_sp(4) vw_sp(6);
      font-size: vw_sp(12);
    }
  }
  main {
    padding: 1rem 0.6rem;
  }
  .section-title {
    font-size: vw_sp(24);
    margin-bottom: 0.5rem;
  }
  .metal-item {
    height: vw_sp(230);
  }
  .metal-img {
    height: vw_sp(100);
  }
  .metal-details {
    padding: vw_sp(5);
  }
  .metal-name {
    font-size: vw_sp(16);
  }
  .metal-price {
    min-height: vw_sp(36);
    font-size: vw_sp(28);
    span {
      font-size: vw_sp(16);
    }
    &.sm {
      font-size: vw_sp(16);
      line-height: 1.5;
    }
  }
  .metal-description {
    font-size: vw_sp(14);
    line-height: 1.3;
  }
  footer {
    padding: vw_sp(30) vw_sp(10);
  }
  .footer-item {
    p {
      font-size: vw_sp(13);
      line-height: 1.2;

      strong {
        font-size: vw_sp(20);
        line-height: 1;
        span {
          font-size: vw_sp(12);
        }
      }
    }
    &:nth-child(3) {
      p {
        span {
          font-size: vw_sp(13);
        }
      }
      @include mq(max, md) {
        grid-column: 1 / -1;
      }
    }
  }
  .footer-label {
    font-size: vw_sp(16);
    margin-bottom: vw_sp(8);
  }
  .footer-copyRight {
    padding-top: vw_sp(15);
    font-size: vw_sp(10);
  }
}

@include mq(min, sm) {
  .announcement {
    padding: min_vw_pc(12) min_vw_pc(20);
    font-size: min_vw_pc(20);
  }
}

@include mq(min-max, sm, md) {
  main {
    padding: 1.2rem 1rem;
  }
  .metal-item {
    height: vw_sp(170);
  }
  .metal-img {
    height: vw_sp(80);
  }
  .metal-details {
    padding: vw_sp(8);
  }
  .metal-name {
    font-size: vw_sp(16);
  }
  .metal-price {
    min-height: vw_sp(30);
    font-size: vw_sp(15);

    span {
      font-size: vw_sp(14);
    }
  }
  .metal-description {
    font-size: vw_sp(9);
    line-height: 1.3;
  }
  .footer-item {
    p {
      font-size: vw_sp(10);
      line-height: 1.2;

      strong {
        font-size: vw_sp(14);
        line-height: 1;
        span {
          font-size: vw_sp(9);
        }
      }
    }
    &:nth-child(3) {
      p {
        span {
          font-size: vw_sp(10);
        }
      }
      @include mq(max, md) {
        grid-column: 1 / -1;
      }
    }
  }
  .footer-label {
    font-size: vw_sp(12);
    margin-bottom: vw_sp(8);
  }
  .footer-copyRight {
    padding-top: vw_sp(15);
    font-size: vw_sp(8);
  }
}

@include mq(max, md) {
  .metals-list {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .footer-body {
    grid-template-columns: repeat(2, 1fr);
    gap: vw_sp(10) vw_sp(10);
    margin-bottom: vw_sp(20);
  }
  .footer-item {
    p {
      &:nth-child(3) {
        grid-column: 1 / -1;
      }
    }
  }
}

@include mq(min-max, sm, lg) {
  .header-links {
    flex-direction: column;
    align-items: stretch;
    width: min_vw_pc(250);
  }
  .special-hours {
    font-size: min_vw_pc(16);
  }
  // .metal-price {
  //   font-size: min_vw_pc(36);
  // }
}

// company
.company-info-inner {
  justify-self: center;
  margin-bottom: 2rem;
}
.company-info-detail {
  justify-self: center;
  width: min_vw_pc(1000);
  margin-bottom: 2rem;
  border-collapse: collapse;
  tr {
    border-bottom: solid 1px #ddd;
  }
}

.company-info-detail-label {
  padding: 1rem;
  font-size: min_vw_pc(18);
  text-align: left;
}
.company-info-detail-value {
  padding: 0.5rem;
  font-size: min_vw_pc(16);
}
.message {
  max-width: min_vw_pc(1000);
  justify-self: center;
}
.message-heading {
  font-size: min_vw_pc(24);
  margin-bottom: 0.5rem;
}
.message-body {
  font-size: min_vw_pc(18);
  line-height: 1.8;
}

//sm以下すべて
@include mq(max, sm) {
  .company-info-detail {
    margin-bottom: 1rem;
    width: 100%;
  }
  .company-info-detail-label {
    padding: 0.5rem 1rem;
    font-size: vw_sp(15);
    white-space: nowrap;
  }
  .company-info-detail-value {
    font-size: vw_sp(14);
    white-space: nowrap;
  }
  .access-map iframe {
    height: 18rem;
  }
  .access-map-link {
    font-size: vw_sp(14);
  }
  .message-heading {
    font-size: vw_sp(16);
  }
  .message-body {
    font-size: vw_sp(14);
  }
}

//sm以上すべて
@include mq(min, sm) {
}

//sm以上md以下
@include mq(min-max, sm, md) {
  .company-info-detail-label {
    padding: 0.5rem 1rem;
    font-size: vw_sp(10);
  }
  .company-info-detail-value {
    font-size: vw_sp(8);
  }
  .message-heading {
    font-size: vw_sp(10);
  }
  .message-body {
    font-size: vw_sp(8);
  }
}

//md以下すべて
@include mq(max, md) {
}

//md以上すべて
@include mq(min, md) {
}

//md以上lg以下
@include mq(min-max, md, lg) {
}

//lg以下すべて
@include mq(max, lg) {
}

//lg以上すべて
@include mq(min, lg) {
}
