@use 'functions' as *;
@use 'mixin' as *;

.company-info-inner {
  justify-self: center;
  margin-bottom: 2rem;
  width: 100%;
}
.company-info-detail {
  justify-self: center;
  margin-bottom: clamp_auto(10, 20);
  border-collapse: collapse;
  tr {
    border-bottom: solid 1px var(--color-white-04);
  }
}

.company-info-detail-label {
  padding-block: clamp_auto(5, 10);
  padding-inline: 1rem;
  font-size: clamp_auto(15, 18);
  text-align: left;
}
.company-info-detail-value {
  padding: 0.5rem;
  font-size: clamp_auto(14, 16);
  vertical-align: middle;
}
.message-heading {
  font-size: clamp_auto(16, 24);
  margin-bottom: 0.5rem;
}
.message-body {
  font-size: clamp_auto(14, 18);
  line-height: 1.8;
  margin-bottom: 3rem;
}

.access {
  justify-self: center;
}

.access-map iframe {
  height: 30rem;
}

@include mq(min, sm) {
  .company-info-detail,
  .access-map,
  .message {
    width: min_vw_pc(1200);
  }
  .access-map iframe {
    height: auto;
  }
  .message {
    justify-self: center;
  }
}
