@use 'functions' as *;
@use 'mixin' as *;

footer {
  background-color: var(--color-black-02);
  color: var(--color-white-01);
  padding: clamp_auto(30, 40) clamp_auto(10, 20);
}

.footer-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp_auto(10, 40);
  margin-bottom: clamp_auto(20, 30);
}

.footer-item {
  &:nth-child(3) {
    .footer-label-description {
      span {
        font-size: clamp_auto(13, 16);
      }
    }
    grid-column: 1 / -1;
  }
}

.footer-label {
  margin-bottom: clamp_auto(8, 15);
  font-size: clamp_auto(16, 20);
  color: var(--color-white-04);
}

.footer-label-description {
  font-size: clamp_auto(13, 16);
  line-height: 1.2;
  color: var(--color-white-02);

  strong {
    font-size: clamp_auto(20, 24);
    line-height: 1;
    span {
      font-size: clamp_auto(12, 14);
    }
  }
}

.footer-copyRight {
  border-top: 1px solid var(--color-black-03);
  padding-top: clamp_auto(15, 20);
  text-align: center;
  color: var(--color-black-04);
  font-size: clamp_auto(10, 15);
}

@include mq(min, sm) {
  .footer-body {
    grid-template-columns: repeat(auto-fit, minmax(min_vw_pc(250), 1fr));
  }
  .footer-item {
    &:nth-child(3) {
      grid-column: auto;
    }
  }
}
