@use 'functions' as *;
@use 'mixin' as *;

header {
  position: sticky;
  top: 0;
  left: 0;
  background: var(--color-black-02);
  z-index: 9999;
}

.announcement {
  background-color: var(--color-black-03);
  text-align: center;
  color: var(--color-white-01);
  overflow: hidden;
  padding: clamp_auto(10, 15) clamp_auto(10, 20);
  font-size: clamp_auto(14, 18);
  display: none;
}

.announcement-list {
  display: flex;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
  height: 100%;
}

.announcement-item {
  display: inline-block;
  strong {
    color: var(--color-yellow-01);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.header-inner {
  padding: clamp_auto(5, 12) clamp_auto(5, 20);
  display: flex;
  gap: clamp_auto(10, 20);
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.company-info {
  display: flex;
  flex-direction: row;
  gap: clamp_auto(10, 30);
  align-items: flex-start;
  justify-content: space-between;
}

.company-contact {
  display: flex;
  flex-direction: column;
  gap: clamp_auto(5, 15);
  align-items: flex-start;
}

.company-name {
  display: flex;
  flex-direction: column;
  font-size: clamp_auto(26, 36);
  font-weight: bold;
  color: var(--color-white-01);
  white-space: nowrap;
  line-height: 1.3;
  span {
    font-size: clamp_auto(13, 18);
  }
}

.hours {
  display: flex;
  flex-direction: column;
}

.contact {
  font-size: clamp_auto(18, 20);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  color: var(--color-white-01);

  strong {
    color: var(--color-yellow-01);
  }
}

.special-hours {
  font-size: clamp_auto(14, 20);
  color: var(--color-yellow-01);
  font-weight: bold;
}

.phone {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background: var(--color-white-03);
  color: var(--color-black-02);
  padding: clamp_auto(4, 8) clamp_auto(7, 14);
  border-radius: clamp_auto(3, 6);
  font-weight: bold;
  font-size: clamp_auto(16, 36);
  border: 1px solid var(--color-black-04);
  white-space: nowrap;
  a {
    opacity: 1;
    transition:
      opacity,
      color 0.3s;
    @include hover() {
      opacity: 0.5;
      color: var(--color-green-01);
    }
  }
}

.header-links {
  display: flex;
  gap: 0.5rem;
  font-size: clamp_auto(12, 16);
  justify-content: center;

  a {
    flex: 1;
    padding: clamp_auto(4, 8);
    border-radius: clamp_auto(2, 4);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
  }
}

.company-link {
  color: var(--color-white-01);
  border: 0.1rem solid var(--color-white-01);

  @include hover() {
    background-color: var(--color-white-01);
    color: var(--color-black-02);
  }
}

.line-link {
  background-color: var(--color-green-01);
  color: var(--color-white-01);

  @include hover() {
    background-color: var(--color-green-02);
  }
}

main {
  padding-block: var(--block-spacing);
  padding-inline: var(--inline-spacing);
}

@include mq(min, sm) {
  .announcement {
    display: block;
  }
  .header-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .company-info {
    flex-direction: row;
    align-items: center;
  }
  .company-contact {
    flex-direction: row;
    align-items: center;
  }
  .header-links {
    width: clamp_auto(150, 300);
    justify-content: stretch;
    gap: min_vw_pc(15);
  }
}

@include mq(min-max, sm, lg) {
  .header-links {
    flex-direction: column;
    align-items: stretch;
    width: clamp_auto(60, 100);
  }
}
