@use 'functions' as *;
@use 'mixin' as *;

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-black-02);
  // border-bottom: min_vw_pc(2) solid var(--color-black-01);
  z-index: 1000;
  box-shadow: 0 min_vw_pc(2) min_vw_pc(4) rgba(0, 0, 0, 0.1);
}

.announcement {
  background-color: var(--color-black-03);
  text-align: center;
  color: var(--color-white-01);
  // border-bottom: 1px solid #444;
  overflow: hidden;
  min-height: 3rem;
}

.announcement-list {
  display: flex;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
  height: 100%;
}

.announcement-item {
  padding: 0 min_vw_pc(30);
  display: inline-block;

  strong {
    color: var(--color-yellow-01);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.header-inner {
  max-width: min_vw_pc(1440);
  margin: 0 auto;
  padding: min_vw_pc(12) min_vw_pc(20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: nowrap;
  gap: min_vw_pc(20);
}

.company-info {
  display: flex;
  align-items: center;
  gap: min_vw_pc(30);
}

.company-contact {
  display: flex;
  align-items: center;
  gap: min_vw_pc(15);
}

.company-name {
  display: flex;
  flex-direction: column;
  font-size: min_vw_pc(36);
  font-weight: bold;
  color: var(--color-white-01);
  white-space: nowrap;
  line-height: 1.3;
  span {
    font-size: min_vw_pc(18);
  }
}

.hours {
  display: flex;
  flex-direction: column;
  gap: min_vw_pc(8);
}

.contact {
  font-size: min_vw_pc(20);
  display: flex;
  align-items: center;
  gap: min_vw_pc(5);
  white-space: nowrap;
  color: var(--color-white-01);

  strong {
    font-size: min_vw_pc(20);
    color: var(--color-yellow-01);
  }
}

.special-hours {
  font-size: min_vw_pc(20);
  color: var(--color-yellow-01);
  margin-top: 0;
  font-weight: bold;
}

.phone {
  display: flex;
  align-items: center;
  gap: min_vw_pc(8);
  background-color: var(--color-white-03);
  color: var(--color-black-02);
  padding: min_vw_pc(8) min_vw_pc(16);
  border-radius: min_vw_pc(6);
  font-weight: bold;
  font-size: min_vw_pc(36);
  border: min_vw_pc(2) solid var(--color-black-04);
  white-space: nowrap;
  flex-shrink: 0;

  a {
    color: var(--color-black-02);
    text-decoration: none;
    font-weight: bold;

    @include hover {
      text-decoration: underline;
    }
  }
}

.header-links {
  display: flex;
  gap: min_vw_pc(15);
  justify-content: stretch;
  width: min_vw_pc(400);

  a {
    width: 100%;
    font-size: min_vw_pc(16);
    padding: min_vw_pc(8) min_vw_pc(8);
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
  }
}

.company-link {
  color: var(--color-white-01);
  border: 0.1rem solid var(--color-white-01);

  @include hover {
    background-color: var(--color-white-01);
    color: var(--color-black-02);
  }
}

.line-link {
  background-color: var(--color-green-01);
  color: var(--color-white-01);

  @include hover {
    background-color: var(--color-green-02);
  }
}

main {
  padding-block: var(--block-spacing);
  padding-inline: var(--inline-spacing);
}

@include mq(max, sm) {
  .announcement {
    display: none;
  }
  .company-name {
    font-size: vw_sp(26);
    span {
      font-size: vw_sp(13);
    }
  }
  .contact {
    font-size: vw_sp(18);
    gap: vw_sp(3);
    strong {
      font-size: vw_sp(18);
    }
  }
  .special-hours {
    font-size: vw_sp(14);
  }
  .phone {
    font-size: vw_sp(16);
    padding: vw_sp(4) vw_sp(8);
    gap: vw_sp(4);
  }
  .header-inner {
    flex-direction: column;
    gap: vw_sp(8);
    padding: 0.5rem;
    align-items: stretch;
    justify-content: center;
  }
  .company-info {
    flex-direction: row;
    gap: vw_sp(20);
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .company-contact {
    flex-direction: column;
    gap: vw_sp(3);
    align-items: flex-start;
  }
  .hours {
    gap: vw_sp(4);
  }
  .header-links {
    width: 100%;
    gap: vw_sp(8);
    justify-content: center;
    a {
      flex: 1;
      text-align: center;
      padding: vw_sp(4) vw_sp(6);
      font-size: vw_sp(12);
    }
  }
}

@include mq(min, sm) {
  .announcement {
    padding: min_vw_pc(12) min_vw_pc(20);
    font-size: min_vw_pc(20);
  }
}

@include mq(min-max, sm, md) {
  main {
    padding: 1.2rem 1rem;
  }
}

@include mq(min-max, sm, lg) {
  .header-links {
    flex-direction: column;
    align-items: stretch;
    width: min_vw_pc(250);
  }
  .special-hours {
    font-size: min_vw_pc(16);
  }
  // .metal-price {
  //   font-size: min_vw_pc(36);
  // }
}
