@use 'functions' as *;
@use 'mixin' as *;

.metals-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp_auto(5, 10);
}

.metal-item {
  background: var(--color-white-01);
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.metal-img {
  width: 100%;
  height: clamp_auto(140, 300);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // aspect-ratio: 1360 / 550;
  }
}

.metal-details {
  padding: clamp_auto(5, 20);
  display: flex;
  flex-direction: column;
}

.metal-name {
  font-size: clamp_auto(17, 32);
  font-weight: bold;
  color: var(--color-black-02);
  line-height: 1;
}

.metal-price {
  font-size: clamp_auto(28, 40);
  color: var(--color-red-01);
  font-weight: bold;
  margin-bottom: min_vw_pc(6);
  line-height: 1.3;

  span {
    font-size: clamp_auto(16, 20);
    color: var(--color-black-02);
  }
}

.metal-description {
  font-size: clamp_auto(14, 18);
  color: var(--color-black-03);
  line-height: 1.3;
}

@include mq(min, sm) {
  .metals-list {
    grid-template-columns: repeat(auto-fit, minmax(min_vw_pc(400), 1fr));
  }
  .metal-description {
    line-height: 1.6;
  }
}
