@use "sass:math";
@use "sass:map";
@use "variable" as var;

/*
 * 行数制限
 */

@mixin line-clamp($row) {
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*
 * placeholder
 */

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    color: $color;
  }
  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

/*
 * 汎用計算用関数
 */

@function vw_pc($size) {
  @return math.div($size, var.$width-pc) * 100vw;
}

@function vw_sp($size) {
  @return math.div($size, var.$width-sp) * 100vw;
}

@function per($size, $base) {
  @return math.div($size, $base) * 100%;
}

@function max_vw_pc($size) {
  @return max($size * 1px, vw_pc($size * 0.9));
}

@function min_vw_pc($size, $rate: 1.25) {
  @return min(vw_pc($size * $rate), $size * 1px);
}

/*
 * ブレイクポイントの初期設定
 */

$breakpoints: (
  "sm": 550,
  "md": 768,
  "lg": 1366,
) !default;

@function bp-value($bp) {
  @if map.has-key($breakpoints, $bp) {
    @return map.get($breakpoints, $bp);
  }

  @return $bp;
}

@mixin mq($mq, $bp1: md, $bp2: lg) {
  $w1: bp-value($bp1);
  $w2: bp-value($bp2);

  $min1: "min-width: #{convert-em($w1, 1)}";
  $min2: "min-width: #{convert-em($w1, 1)}";
  $max1: "max-width: #{convert-em($w1)}";
  $max2: "max-width: #{convert-em($w2)}";

  @if $mq == min {
    @media ($min1) {
      @content;
    }
  }

  @if $mq == max {
    @media ($max1) {
      @content;
    }
  }

  @if $mq == min-max {
    @media ($min2) and ($max2) {
      @content;
    }
  }
}

/*
 * pxからemに変換
 */

@function convert-em($width, $ge: 0) {
  $result: $width + $ge;
  @return $result * 0.0625em;
}

/*
 * hover有効時
 */

@mixin hover() {
  @media (any-hover: hover) {
    &:where(:any-link, :enabled, summary):hover {
      @content;
    }
  }
}

@mixin group-hover {
  @media (any-hover: hover) {
    &:is(:where(:any-link, :enabled, summary):hover *) {
      @content;
    }
  }
}

/*
 * hover無効時
 */
@mixin nohover() {
  @media not all, not all, (hover: none) {
    @content;
  }
}

/*
 * line-height-crop
 */
@mixin line-height-crop($line-height) {
  line-height: $line-height;

  &::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
    content: "";
  }

  &::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: calc((1 - #{$line-height}) * 0.5em);
    content: "";
  }
}
