@use 'sass:map';
@use 'sass:list';

/*
 * 行数制限
 */

@mixin line-clamp($row) {
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*
 * placeholder
 */

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    color: $color;
  }
  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

/*
 * メディアクエリ
 */
$breakpoints: (
  sm: 640,
  md: 768,
  lg: 1024,
  xl: 1280,
) !default;

@function bp-value($bp) {
  @if map.has-key($breakpoints, $bp) {
    @return map.get($breakpoints, $bp);
  }

  @return $bp;
}

@mixin mq($mq, $bp1: tablet, $bp2: desktop) {
  $w1: bp-value($bp1);
  $w2: bp-value($bp2);

  $min1: 'width > #{convert-em($w1)}';
  $min2: 'width > #{convert-em($w1)}';
  $max1: 'width <= #{convert-em($w1)}';
  $max2: 'width <= #{convert-em($w2)}';

  @if $mq == min {
    @media ($min1) {
      @content;
    }
  }

  @if $mq == max {
    @media ($max1) {
      @content;
    }
  }

  @if $mq == min-max {
    @media ($min2) and ($max2) {
      @content;
    }
  }
}

/*
 * pxからemに変換
 */
@function convert-em($width, $ge: 0) {
  $result: $width + $ge;

  @return '#{calc($result / 16)}em';
}

/*
 * hover有効時
 */

@mixin hover() {
  @media (any-hover: hover) {
    &:where(:any-link, :enabled, summary):hover {
      @content;
    }
  }
}

@mixin group-hover {
  @media (any-hover: hover) {
    &:is(:where(:any-link, :enabled, summary):hover *) {
      @content;
    }
  }
}

/*
 * hover無効時
 */
@mixin nohover() {
  @media not all, not all, (hover: none) {
    @content;
  }
}

/*
 * line-height-crop
 */
@mixin line-height-crop($line-height) {
  line-height: $line-height;

  &::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
    content: '';
  }

  &::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: calc((1 - #{$line-height}) * 0.5em);
    content: '';
  }
}
