// // font family
// $base-font: Amiko, 'Yu Gothic Pr6N M', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体',
//   'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;

// // base font size
// $font-size-pc: 16;
// $font-size-sp: 16;

// // img path
// $img: '/wp-content/themes/my-theme/assets/images/';

// // color
// $black: #231815;
// $yellow: #ffe200;
// $beige: #ccccac;

// width
// $width-pc: 1366;
// $width-sp: 393;
